<h1><i class="fas fa-skiing"></i> Results</h1>



<div class="container">
  <div class="row">
    <% @skis.each do |ski| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-md-3">
      <%= link_to ski_path(ski) do %>
      <div class="card-trip">
        <%= cl_image_tag ski.photo, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <p class="size"><strong><%= ski.size %> cm</strong></p>
            <p class="model"><%= ski.model %></ <p>
          <!--   <p><%= ski.city %></p> -->
          </div>
          <h2 class="card-trip-pricing"><%= ski.price %>€</h2>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
