<h1><i class="fas fa-skiing"></i> Resultats</h1>

<div class="max-container">
  <div class="container-index-ski">
      <div class="cards-index">
        <% @skis.each do |ski| %>
            <div class="card-trip">
              <%= link_to ski_path(ski) do %>
              <%= cl_image_tag ski.photo, width: 600, crop: :fill %>
              <div class="card-trip-infos">
                <div>
                  <p class="size"><strong><%= ski.size %> cm</strong> à <%= ski.city %></p>
                  <p class="model"><%= ski.model %></ <p>

                </div>
                  <h2 class="card-trip-pricing"><%= ski.price %>€ / j</h2>
              </div>
              <% end %>
            </div>

        <% end %>
      </div>

  </div>

  <div class="container-index-ski">
      <div
        id="map"
        style="width: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
  </div>

</div>
