<div class="container-ski-new" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517057011470-8f36d636e6ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1697&q=80")>


 <div class="row justify-content-sm-center">
    <div class="col-sm-8 col-md-6 col-lg-5 p-5">

      <h1 class ="text-center" id="h1-ski-new"> Crée ton ski <i class="fas fa-skiing-nordic"></i> !</h1>
      <h3 class ="text-center" id="h3-ski-new"> Et trouve preneur ! </h3>


        <%= simple_form_for @ski do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :price, placeholder: 'Prix' %>
            <%= f.input :size, placeholder: 'Taille'%>
            <%= f.input :model, placeholder: 'Modèle' %>
            <%= f.input :city, placeholder: 'Ville'%>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.button :submit, class: 'rounded btn btn-dark' %>
          </div>
        <% end %>
    </div>
  </div>

</div>
