

<div class="banner banner-search" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "carousel1.jpg", alt: "alttext" %>);">
  <div class="container">
    <div class="ski-text">
     <p>La meilleure façon de louer vos <span id="banner-typed-text"></span></p>
    </div>
  </div>

  <form action="<%= skis_path %>" method="get" class="form-search-global">
    <div class="search-form">
      <label for="name"> </label>
      <input type="text" name="query" id="name" value="<%= params[:query] %>" placeholder="Modèle">
    </div>
    <select class="search-form">
      <option value="">Ville</option>
      <% @cities.each do |city| %>
        <option value="<%= params[:query] %>"><%=city %></option>
      <% end %>
    </select>
    <div class="search-form">
      <input type="text" name="query" id="name" value="<%= params[:query] %>" placeholder="Taille de ski">
    </div>
    <div class="search-form">
      <input type="date" value="Rechercher" name="rental_date" value="<%= params[:rental_date] %>" placeholder="Date">
    </div>
    <div class="search-form">
      <input type="submit" value="Rechercher" class="btn btn-primary" id="search-btn">
    </div>
  </form>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>

<div class="container">
  <div class="footer-copyright">
    Suivez nous sur les réseaux sociaux
  </div>
</div>
</div>
