<h1>Vous êtes dans show html (ski)</h1>

<p> <%= @ski.model %></p>

<div class="card-trip">
  <!-- <img src="http://www.cluster-cim.fr/upload/choisir-ses-skis.jpg" /> -->
  <%= cl_image_tag @ski.photo, height: 400, width: 1100, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @ski.model %></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem aperiam, magni eius sapiente voluptates quisquam amet. Pariatur harum suscipit, odio adipisci molestias perspiciatis itaque deserunt rerum repellendus quidem, explicabo ad.</p>
    </div>
    <h2 class="card-trip-pricing"><%= @ski.price %>€</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>


<!-- ajout du formulaire pour la transaction  -->

<%= simple_form_for [@ski, @transaction] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" id="calendar" data-dates-booked = "<%=
  @ski.dates_booked %>">
    <%= f.input :rental_date, as: :string, placeholder: "Choisissez une date" %>
  </div>

  <div class="form-actions">
   <%= f.button :submit,'Réserver ce ski'  %>
  </div>
<% end  %>
