<h1>Détails de vos commandes 🙏 </h1>

<div class="container">
  <div class="list-as-customer">

    <h2 class="font-italic">Les skis que vous avez chopé </h2>

    <% if @transactions.size.zero? %>
      <p>Vous n'avez chopé aucun ski 😢</p>
    <% else %>
      <% @transactions.each do |transaction| %>
          <div class="card-product">
            <%= cl_image_tag transaction.ski.photo %>
            <div class="card-product-infos">
              <p> "<strong><%= transaction.ski.model %></strong>" loué par <%= transaction.ski.owner.name %> </p>
              <p> Le <%= transaction.rental_date %> à <%= transaction.ski.city %></p>
              <p> Vous avez été facturé <%= transaction.ski.price %> € </p>
            </div>
          </div>
          <br>
      <% end %>
    <% end %>


  </div>

  <hr>

  <div class="list-as-owner">
    <h2 class="font-italic">Les skis que vous avez proposé </h2>
    <% if @transactions.size.zero? %>
      <p>Vous n'avez proposé aucun ski à la location 😢</p>
    <% else %>

    <% @skis.each do |ski| %>
      <% ski.transactions.each do |transaction| %>
          <div class="card-product">
            <%= cl_image_tag transaction.ski.photo %>
            <div class="card-product-infos">
              <p> "<strong><%= transaction.ski.model %></strong>" loué à <%= transaction.customer.name %> </p>
              <p> Le <%= transaction.rental_date %> à <%= transaction.ski.city %></p>
              <p> <%= transaction.customer.name %> vous a réglé <%= transaction.ski.price %> € ✔ </p>
              <br>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
