<h1>Détails de vos commandes 🙏 </h1>

<div class="container">

  <div class="accordion" id="accordionTransac">
    <div class="card">
      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <p class="mb-0">

            Vos locations du jour

        </p>
      </div>

      <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordionTransac">

      <div class="card-body">
        <div class="current-transactions">
          <div class="container-intermediaire">
            <div class="list-as-customer">
              <h3>Les skis que vous avez chopé </h3>
              <% if @transactions.current.empty? %>
                <p>Vous n'avez chopé aucun ski 😢</p>
              <% else %>
                <% @transactions.current.each do |transaction| %>
              <div class="card-product">
                <%= cl_image_tag transaction.ski.photo %>
                <div class="card-product-infos">
                  <p> "<strong><%= transaction.ski.model %></strong>" loué par <%= transaction.ski.owner.name %> </p>
                  <p> Le <%= transaction.rental_date %> à <%= transaction.ski.city %></p>
                  <p> Vous avez été facturé <%= transaction.ski.price %> € </p>
                </div>
              </div>
                <% end %>
              <% end %>
            </div>
            <div class="list-as-owner">
              <h3>Les skis que vous avez proposé </h3>
              <% if @earning_transactions.current.empty? %>
              <p>Vous n'avez proposé aucun ski à la location 😢</p>
              <% else %>
              <% @earning_transactions.current.each do |transaction| %>
              <div class="card-product">
                <%= cl_image_tag transaction.ski.photo %>
                <div class="card-product-infos">
                  <p> "<strong><%= transaction.ski.model %></strong>" loué à <%= transaction.customer.name %> </p>
                  <p> Le <%= transaction.rental_date %> à <%= transaction.ski.city %></p>
                  <p> <%= transaction.customer.name %> vous a réglé <%= transaction.ski.price %> € ✔ </p>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <p class="mb-0">
            Vos réservations
        </p>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTransac">
        <div class="card-body">
          <div class="future-transactions accordion">
            <div class="container-intermediaire">
              <div class="list-as-customer">
                <h3>Les skis que vous avez reservé </h3>
                <% if @transactions.future.empty? %>
                <p>Vous n'avez reservé aucun ski 😢</p>
                <% else %>
                <% @transactions.future.each do |transaction| %>
                <div class="card-product">
                  <%= cl_image_tag transaction.ski.photo %>
                  <div class="card-product-infos">
                    <p> "<strong><%= transaction.ski.model %></strong>" loué par <%= transaction.ski.owner.name %> </p>
                    <p> Le <%= transaction.rental_date %> à <%= transaction.ski.city %></p>
                    <p> Vous avez été facturé <%= transaction.ski.price %> € </p>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
              <div class="list-as-owner ">
                <h3>Les skis que vous allez proposer </h3>
                <% if @earning_transactions.future.empty? %>
                  <p>Personne n'a reservé vos skis pour l'instant 😢</p>
                <% else %>
                <% @earning_transactions.future.each do |transaction| %>
                <div class="card-product">
                  <%= cl_image_tag transaction.ski.photo %>
                  <div class="card-product-infos">
                    <p> "<strong><%= transaction.ski.model %></strong>" loué à <%= transaction.customer.name %> </p>
                    <p> Le <%= transaction.rental_date %> à <%= transaction.ski.city %></p>
                    <p> <%= transaction.customer.name %> vous a réglé <%= transaction.ski.price %> € ✔ </p>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <p class="mb-0">
            Historique de vos locations
        </p>

      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionTransac">
      <div class="card-body">
        <div class="archives-transactions accordion">
          <div class="container-intermediaire">
            <div class="list-as-customer">
              <h3>Les skis que vous avez reservé </h3>
              <% if @transactions.past.empty? %>
              <p>Vous n'avez j  amais reservé de skis 😢</p>
              <% else %>
              <% @transactions.past.each do |transaction| %>
              <div class="card-product">
                <%= cl_image_tag transaction.ski.photo %>
                <div class="card-product-infos">
                  <p> "<strong><%= transaction.ski.model %></strong>" loué par <%= transaction.ski.owner.name %> </p>
                  <p> Le <%= transaction.rental_date %> à <%= transaction.ski.city %></p>
                  <p> Vous avez été facturé <%= transaction.ski.price %> € </p>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
            <div class="list-as-owner ">
              <h3>Les skis que vous avez proposé </h3>
              <% if @earning_transactions.past.empty? %>
              <p>Personne n'a reservé vos skis pour l'instant 😢</p>
              <% else %>
              <% @earning_transactions.past.each do |transaction| %>
              <div class="card-product">
                <%= cl_image_tag transaction.ski.photo %>
                <div class="card-product-infos">
                  <p> "<strong><%= transaction.ski.model %></strong>" loué à <%= transaction.customer.name %> </p>
                  <p> Le <%= transaction.rental_date %> à <%= transaction.ski.city %></p>
                  <p> <%= transaction.customer.name %> vous a réglé <%= transaction.ski.price %> € ✔ </p>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>
