<h2>Détails de votre commande</h2>

<p><%= @transaction.customer.name %></p>
<p><%= @transaction.ski.model %></p>
<p><%= @transaction.ski.size %></p>
<p><%= @transaction.ski.price %></p>
<p><%= @transaction.rental_date %></p>
<p><%= @transaction.ski.owner.name %></p>
